.copyright
  - var year = (new Date()).getFullYear()
  p 2002 - #{year}
    | &nbsp;
    i(class="fas fa-copyright") 
    | &nbsp;
    a(href='/') #{theme.name} 
    | &nbsp;&#8226;&nbsp; Powered by &nbsp;
    a(href='http://hexo.io/' target="_blank") Hexo