doctype
html(lang=config.language)
  include head.pug
  body
    .concise-container
      include nav.pug
      main
        block container
        block aside
        block pagination
    footer
        include copyright.pug

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    script(src='/js/bootstrap.min.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js')
