nav.page-navigation
  .nav-container
    .page-header-logo
      h1.concise-log
        a.home-link(href=url_for())=theme.name
    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".main-nav-items")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    ul.collapse.navbar-collapse.main-nav-items
      each value in theme.nav
        li.menu-item
          a(href=url_for(value.url) target='_self')
            i.nav-icon(class=value.fontClass)